.flexContainer{
    display: flex;
    justify-content: space-around;
}
nav {
    padding: 20px;
    text-align: center;
    background: #030039;
    color: #FFE4D9;
    font-size: 30px;
  }
  nav a:hover {
    color: #004F70;
  }
  nav a.active {
    color: #FFE4D9;
  }

.button{
  color:#FFE4D9;
  background-color: #030039;
  display: inline-block;
  border: none;
  text-align: center;
}

form {
  text-align: center;
  width: 60vw;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}
.Album{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  padding: 20px 10px;
}
.Album img{
  border-radius: 10px;
  object-fit: cover;
}

h2{
  text-align: center;
  font-size: 3vw;
  color:rgb(1, 0, 73);
}
p{
  color:rgb(1, 0, 73);
  font-size: 2vw;
  text-align: center;
}

@media(max-width:700px){
  .gridcontainer{
    display: grid;
    grid-template-columns: 100%;
    gap: 20px; 
    padding: 20px;
    margin-top: 20%;
    font-size: 1vw;
  }
}
.gridcontainer{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 15px;
}

.Titel{
color:rgb(1, 0, 73);
  font-size: 200%;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.info{
  color:rgb(1, 0, 73);
  font-size: 200%;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 2;
}
.info2{
  color:rgb(1, 0, 73);
    font-size: 200%;
    text-align: right;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
  }
  footer {
    display: flex;
    justify-content: center;
    background-color: rgb(1, 0, 73);
    color: #FFE4D9;
    padding: 0.5em;
    margin-top: 100px;
  }
